<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Manifestante</title>
</head>
<body>
    <h1>Cadastro de Manifestante</h1>
    <form action="/cadastrar" method="post">
        <label>Nome:</label>
        <input type="text" name="nome" required><br>

        <label>Email:</label>
        <input type="email" name="email" required><br>

        <label>Telefone:</label>
        <input type="number" name="telefone" required><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
