#img1 {

  background: url(https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrSaj6YfRWD3rkYHXy43Ehw1B1I7QPgDRg5XDrClx71UOTo4BEvDAbAWNxAGa44SRqsE7j1F5gc74zWlLHW3QuFBkVzIOt2kkyHesq2r-dyKKgnntWJFv1TTzDmgmH6ujvfqkxr=s1360-w1360-h1020-rw);
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.swal2-styled.swal2-confirm {
  background-color: #006b00 !important;
}

body {
  height: 100%;
  background: #666666;
 

}

html {
  height: 100%;
}

#t1 {
  color: #006b00;
  text-align: center;
}
#t2 {
  color: #939598;
  text-align: justify;
}

#rodape {
  background: #006b00;

}

#lapa {
  margin: 0;
  padding: 0;
}

#btn {
  background-color: #006b00;
  color: #ffffff;
}

div .row {
  margin-bottom: 5px;
}